language: python
python:
  - "3.6"      # current default Python on Travis CI
  - "3.7"
  - "3.8"
  - "3.8-dev"  # 3.8 development branch
# command to install dependencies
install:
  - pip install PyPDF2==1.26.0
  - pip install Pillow==7.2.0
  - pip install img2pdf==0.4.0
  - pip install PyMuPDF==1.17.7
# command to run tests
script:
  - python setup.py clean build develop || python3 setup.py clean build develop
